* {
    margin: 0;
    border: 0px;
    padding: 0
}

body {
    height: 100vh;
    width:  100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.selectors {
    list-style: none;
    margin-top: 5px;
}

.selectors:hover {
    cursor: pointer;
    color: #dbcbcb;
}

.white {
    color: white;
}

.centered {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}
/* header styles */

header nav {    
    background-color: #CDA582;
    align-items: center;
    font-size: 1.1em;
    justify-content: space-evenly;
    color: white;
    height: 55px;
}

header i {
    margin-right: 10px;
}

header .linksArea a {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

header .socialLinks a {
    text-decoration: none;
    color: white;
}

.socialLinks {
    color: white;
}

.socialLinks a:first-of-type {
    padding-left: 15px;
}

#menuBar {
    line-height: 40px;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
}

header .logo {
    margin-left: 30px;
}

.menuLinks {
    color: white;
} a {
    margin-right: 20px;
    color: #8D8D8D;
    text-decoration: none;
} 

.menuButton {
    background-color: black;
    display: inline-block;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* main area */
main{
    background-color: #dfb693;
    background-image: url(../Imagens/Fotos_homepage/Background_Circles.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x: 10%;
}

#mainImage {
    height: 430px;
    text-align: center;
    flex: 1;
} 

#mainImage img {
    height: 430px;
}
.mainContent {
    flex: 1;
    color: white;
    justify-content: center;
    flex-direction: column;
}

.mainTitle {
    margin-bottom: 30px;
}

#mainDescription {
    width: 40vw;
}

.mainButton a {
    color: white;
}

.mainButton button {
    border: 0;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0px 10px 25px;
    border-radius: 5px;
    color: white;
    background-color: #202020;
}

/* seção about */
#about {
    align-items: center;
    text-align: center;
}

.aboutImage {
    height: 600px;
}

#infosContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos {
    width: 80%;
    text-align: left;
}

#infoMainText {
    margin-bottom: 15px;
}

#infosArea div h5 {
    font-weight: bold;
    font-size: 20px;
}

#infosArea {
    justify-content: space-between;
}

#infosArea div h5{
    font-size: 16px;
}

#infosArea div {
    margin-bottom: 5px;
    gap: 90px;
}

.tittlesblack {
    font-size: 24px;
}

.tittlescolored {
    color: #C8A180;
    font-size: 35px;
    margin-bottom: 20px;
}
.miniTexts {
    width: 49%;
}

.infosTitle {
    color: black;
    font-weight: bold;
}

.imageArea {
    width: 100%;
}

#definitionArea {
    justify-content: space-evenly;
}

.tittleourservices {
    margin-top: 40px;
    margin-bottom: 40px;    
}

.definitionservices {
    max-width: 250px;
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #202020; */
}

.tittlesservices {
    font-size: 22px;
    margin-bottom: 10px;
    color: #CDA582;
}

.pricesservices {
    margin-top: 15px;
}

.btnschedule {
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 5px;
    line-height: 35px;
    border: 0;
    background-color: #D9B79A;
}

.btnschedule a {
    text-decoration: none;
    color: white;
}

/* Nossos serviços */
#know {
    height: 380px;
    background-image: url(../Imagens/Fotos_homepage/Rectangle48.png);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    flex: 1;
}

#relax {
    height: 380px;
    background-image: url(../Imagens/Fotos_homepage/Rectangle49.png);
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 1;
}

/* newsletter container */
#newsletterContainer {
    background-color: #936C4B;
    height: 250px;
}

#newsletterContainer h5 {
    color: #D9B79A;
    font-size: 24px;
    font-weight: bold;
}

#newsletterContainer h4 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

#newsletterContainer p {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.newsInputArea input {
    width: 340px;
    font-size: 1em;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
}

.newsInputArea button {
    height: 100%;
    background-color: #000;
    color: #fff;
    margin-left: 10px;
    border-radius: 5px;
    width: 200px;
}

/* footer */

footer {
    height: 200px;
    background-color: black;
    color: white;
}
#centralFooter {
    flex: 3;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#centralFooter img {
    margin-top: 50px;
    height: 50px;
}

#centralFooter div {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
    width: 60%;
}

.footerSection {
    flex: 1;
    text-align: left;
    min-height: 100px;
}

.footerSection h4 {
    color: #D9B79A;
}